@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  --background-rgb: 249, 249, 249;
  --foreground-rgb: 35, 31, 32;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer base {
  @font-face {
    sans: "Inter";
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
